<%-include('../cabecalho.ejs')%>
    <h1>Editar Laboratorio</h1>
    <div style="margin-bottom: 24px;">
        <a href="/Laboratorio/lst" class="btn">Listar</a>
    </div>
    <div>
        <form method="post" class="form-visual" enctype="multipart/form-data">
            <label>Nome:</label>
            <input type="text" name="nome" value="<%= Laboratorio.nome %>"><br>
            <label>Endereco:</label>
            <input type="text" name="endereco" value="<%= Laboratorio.endereco %>"><br>
            <label>Email:</label>
            <input type="text" name="email" value="<%= Laboratorio.email %>"><br>
            <label>Logo:</label>
            <img src="<%=Laboratorio.logo%>" width="150" height="150">
            <input type="file" name="logo" accept="image/png"><br>

            <button type="submit" class="btn submit">Submeter edição</button>
        </form>
    </div>
    <%-include('../rodape.ejs')%>